@()

@main("404 Not Found") {
    <html>
        <head>
            <title>Oops...</title>
            <meta http-equiv="refresh" content="10, / " />
            <link rel="stylesheet"  media="screen" href="@routes.Assets.versioned("stylesheets/error.css")" >
            <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
        </head>
        <body>
            <div class="main">
                <div class="mainerr">4</div>
                <i class="far fa-question-circle fa-spin"></i>
                <div class="errcode">4</div>
                <div class="msg">
                    The page you are looking for does not exist. <br>
                    You will be redirected to the home page in 10 seconds...
                    <p>Take me <a href="/">back</a></p>
                </div>
            </div>
        </body>
    </html>
}