@()

@main("HTWG Malefiz") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/csstest.css")">
    <div id="site-selection">
        <div class="nav">
            <input type="checkbox">
            <span></span>
            <span></span>
            <div class="menu">
                <li><a href="/">Go Back</a></li>
                <li><a href="/zengardendefault">ZenGardenDefault</a></li>
                <li><a href="/robot">Robot</a></li>
                <li><a href="/lesstest">LessTest</a></li>
                <li><a href="#">Nichts</a></li>
            </div>
        </div>
    </div>
}
