<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/lesstest.css")">
<button class="get-back-csstest" role="button" onclick="location.href='/csstest'">Get back to the css test</button>

<h2>Easy Less buttons (work in progress)</h2>
<a class="btn-roxo" href="#a">Button</a>
<a class="btn-red" href="#a">Button</a>
<a class="btn-black" href="#a">Button</a>
<a class="btn-something" href="#a">Button</a>
<a class="btn-light" href="#a">Button</a>
<a class="btn-green" href="#a">Button</a>
<a class="thiago" href="#a">Thiago</a>
<a class="blue" href="#a">aceitar</a>