body {
    background: #EDEBED url(../images/malefiz-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.information-panel {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    padding: 7px 7px 7px 7px;
    top: 30%;
    left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: normal;
    position: fixed;
    background-color: lightsteelblue;
    background-image: url(../images/wood-pattern.png);
}

.information-panel .info_text {
    top: 50%;
    left: 15%;
}

.input-panel-group {
    position: fixed;
    top: 50%;
    left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: normal;
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    padding: 7px 7px 7px 7px;
}

.gamescreen-panel {
    position: fixed; /* or absolute */
    top: 10%;
    left: 50%;
    align-content: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #9e7013;
    background-image: url(../images/wood-pattern.png);
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 50px;
}

.gamescreen-panel #game-field {
    width: 100%;
    height: 100%;
    max-height: 30px;
    max-width: 30px;
}

.input-critical-panel input {
    color: white;
    border: 3px solid white;
    text-shadow: none;
    font-size: 15px;
    background: rgba(34, 34, 34, 0.75);
    text-align: center;
    transition: all 0.3s ease 0s;
}

.input-panel-group {
    align-items: center;

    background-image: url(../images/wood-pattern.png);
}

.input-panel-group .input-critical-panel {
    margin-bottom: 20px;
    alignment: center;
    align-items: center;
    text-align:center
}

.input-critical-panel input:hover {
    background-color: red;
    box-shadow: 0px 15px 20px rgba(255, 4, 4, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

.input-panel-group .input-normal-panel {
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: normal;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 7px 7px 7px 7px;
    overflow:auto;
    text-align:center;
    background-image: url(../images/wood-pattern.png);
    background-color: #9e7013;
}

.input-normal-panel .input-normal-button {
    color: white;
    border: 3px solid white;
    text-shadow: none;
    font-size: 15px;
    background: rgba(34, 34, 34, 0.75);
    text-align: center;
    width: fit-content;
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;
}

.input-normal-panel .input-normal-button:hover {
    background-color: orange;
    box-shadow: 0px 15px 20px rgba(255, 165, 0, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

.input-normal-text {
    float: left;
    color: white;
    border: 3px solid white;
    text-shadow: none;
    font-size: 15px;
    background: rgba(34, 34, 34, 0.75);
    text-align: center;
    width: fit-content;
    padding: 4px;
    margin-bottom: 20px;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
}

.navMenu {
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navMenu a {
    min-height: 20px;
    min-width: 0px;
    box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.2em;
    font-weight: 500;
    display: inline-block;
    width: 120px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgba(136, 89, 61, 0.85);
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    outline: none;
    padding: 7px 7px;
    background-color: #9e7013;
    background-image: url(../images/wood-pattern.png);
}

.navMenu a:hover {
    color: #fddb3a;
}

.navMenu .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(67px);
    transform: translateX(67px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(67px);
    transform: translateX(67px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(204px);
    transform: translateX(204px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(342px);
    transform: translateX(342px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(480px);
    transform: translateX(480px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(617px);
    transform: translateX(617px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.move-category {
}

.move-category .move-lower{
    display: flex;
    justify-content: center;
    align-items: center;
}
.move-category #move-up-button {
    padding: 20px 25px;
}

.move-category .move-lower #move-left-button {
    padding: 20px 25px;
}

.move-category .move-lower #move-down-button {
    padding: 20px 25px;
}

.move-category .move-lower #move-right-button {
    padding: 20px 25px;
}

.move-category #move-skip-button {
    padding-left: 20px;
    padding-right: 20px;
}