@()

@main("HTWG Malefiz") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
    <div id="malefiz-game">
        <malefiz-nav selected="home"></malefiz-nav>
        <div class="container">
            <h1 class="m-5">Welcome! This is the backend server for our malefiz scala game project at the HTWG Constance. (6 Semester Software Engineering)</h1>
            <a href="https://malefiz-wa-playserver.herokuapp.com/" class="link-primary h1 m-5">Backend Server</a>
            <br>
            <a href="https://sehirsig.github.io/malefiz-WA-Vue/" class="link-secondary h1 m-5">Frontend Server</a>
        </div>
    </div>
    <script src='@routes.Assets.versioned("javascripts/malefizVue.js")'></script>
}