@(controller: controllers.MalefizController, game: String, gameMessage: String, diceRolled: String, currentplayer: String, atLeast2: String, players: String)
@welcome = @{
    0
}
@loaded = @{
    1
}
@saved = @{
    2
}
@gamewinner = @{
    3
}
@choosefig = @{
    4
}
@idle = @{
    5
}
@ready1 = @{
    6
}
@ready2 = @{
    7
}
@player0 = @{
    8
}
@player1 = @{
    9
}
@player2 = @{
    10
}
@player3 = @{
    11
}
@player4 = @{
    12
}
@playing = @{
    13
}
@moving = @{
    14
}
@entername = @{
    15
}
@error = @{
    -1
}

@start1cell = @{
    controller.gameController.getpureCell("Start1Cell")
}
@start2cell = @{
    controller.gameController.getpureCell("Start2Cell")
}
@start3cell = @{
    controller.gameController.getpureCell("Start3Cell")
}
@start4cell = @{
    controller.gameController.getpureCell("Start4Cell")
}
@freecell = @{
    controller.gameController.getpureCell("FreeCell")
}
@blockedcell = @{
    controller.gameController.getpureCell("BlockedCell")
}
@securecell = @{
    controller.gameController.getpureCell("SecureCell")
}
@goalcell = @{
    controller.gameController.getpureCell("GoalCell")
}
@invalidcell = @{
    controller.gameController.getpureCell("InvalidCell")
}
@playercell11 = @{
    controller.gameController.getpureCell("PlayerCell11")
}
@playercell12 = @{
    controller.gameController.getpureCell("PlayerCell12")
}
@playercell13 = @{
    controller.gameController.getpureCell("PlayerCell13")
}
@playercell14 = @{
    controller.gameController.getpureCell("PlayerCell14")
}
@playercell15 = @{
    controller.gameController.getpureCell("PlayerCell15")
}
@playercell21 = @{
    controller.gameController.getpureCell("PlayerCell21")
}
@playercell22 = @{
    controller.gameController.getpureCell("PlayerCell22")
}
@playercell23 = @{
    controller.gameController.getpureCell("PlayerCell23")
}
@playercell24 = @{
    controller.gameController.getpureCell("PlayerCell24")
}
@playercell25 = @{
    controller.gameController.getpureCell("PlayerCell25")
}
@playercell31 = @{
    controller.gameController.getpureCell("PlayerCell31")
}
@playercell32 = @{
    controller.gameController.getpureCell("PlayerCell32")
}
@playercell33 = @{
    controller.gameController.getpureCell("PlayerCell33")
}
@playercell34 = @{
    controller.gameController.getpureCell("PlayerCell34")
}
@playercell35 = @{
    controller.gameController.getpureCell("PlayerCell35")
}
@playercell41 = @{
    controller.gameController.getpureCell("PlayerCell41")
}
@playercell42 = @{
    controller.gameController.getpureCell("PlayerCell42")
}
@playercell43 = @{
    controller.gameController.getpureCell("PlayerCell43")
}
@playercell44 = @{
    controller.gameController.getpureCell("PlayerCell44")
}
@playercell45 = @{
    controller.gameController.getpureCell("PlayerCell45")
}


@main("HTWG Malefiz") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Malefiz</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active hoverable text-center" aria-current="page" href="/">Home</a>
                    <a class="nav-link hoverable text-center" href="/about">About</a>
                    <a class="nav-link hoverable text-center" href="/jstest">JS Test</a>
                    <button type="button" class="btn btn-dark hoverable" data-bs-toggle="modal" data-bs-target="#infoModal" >
                        <i class="bi-info-circle"></i>
                        Game Instructions
                    </button>
                    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true" data-backdrop="false">
                        <div class="modal-dialog modal-dialog-centered" role="document" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="infoModalLabel">Game Instructions</h5>
                                </div>
                                <div class="modal-body">
                                    <h3>Game Rules</h3>
                                    <em>Malefiz is a board game for 2 to 4 players. Each player has 5 figures to play with. Every figure starts in their base, at the bottom of the board. The beginning player rolls the dice. The thrown number has to be pulled completly. While walking with the figure, change of direction is not allowed. If a player lands on an enemys figure, the enemy has to put his figure back to his base. Figures are allowed to jump over other figures, but not over barricades. If a player lands on the barricade (with the exact number), the barricade gets set anywhere on the game board, all black fields are allowed, except the lowest row.
                                    </em>
                                    <h4>Goal Of The Game</h4>
                                    <em>The player reaching the top of the gameboard first (with the exact number rolled with the dice) with one figure wins the game.
                                    </em>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="container m-1" id="information-panel">
                    @if(controller.getStatusID() == ready1
                            || controller.getStatusID() == ready2) {
                        <p class="text-center">@gameMessage</p>
                        <p class="text-center">@players</p>
                    } else if(controller.getStatusID() == playing) {
                    <p class="text-center">@currentplayer</p>
                    <p class="text-center">@diceRolled</p>
                    } else if(controller.getStatusID() == choosefig) {
                    <p class="text-center">@diceRolled</p>
                    } else if(controller.getStatusID() == moving) {
                    <p class="text-center">@currentplayer</p>
                    <p class="text-center">@diceRolled</p>
                    } else if(controller.getStatusID() == welcome
                    || controller.getStatusID() == ready1
                    || controller.getStatusID() == idle) {
                    <p class="text-center">@atLeast2</p>
                    <p class="text-center">@players</p>
                    }
                </div>
                <div class="container m-1" id="input-panel-group">
                    <div class="row justify-content-center">
                        <div class="row m-1">
                            <div class="col text-center">
                                    <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger input-critical-button" onclick="resetGame()">
                                    Reset Game &#8634
                                </button>
                            </div>
                        </div>
                    </div>f


                    <div class="row justify-content-center">

                        @if(controller.getStatusID() == ready1
                                || controller.getStatusID() == ready2) {
                            <div class="row">
                                <div class="col text-center">
                                    <button type="button" class="btn btn-warning btn-block input-warning-button" onclick="startGame()">
                                        Start Game</button>
                                </div>
                            </div>
                        }
                        @if(controller.getStatusID() == playing) {
                            <script src='@routes.Assets.versioned("javascripts/inputDice.js")' type="text/javascript"></script>
                            <div class="row">
                                <div class="col">
                                    <button type="button" id="diceButton" class="btn btn-success btn-block input-normal-button" data-bs-toggle="modal" data-bs-target="#rollModal" onclick="startDiceAudio()">
                                        Roll Dice</button>
                                    <div class="modal" id="rollModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true" data-backdrop="false" onclick="rollDice()">
                                        <div class="modal-dialog modal-dialog-centered" role="document" >
                                            <div class="modal-content" id="diceModal">
                                                <div class="modal-body">
                                                    <div class='box'>
                                                        <div class="cube">
                                                            <div class="side  front">1</div>
                                                            <div class="side   back">6</div>
                                                            <div class="side  right">3</div>
                                                            <div class="side   left">4</div>
                                                            <div class="side    top">2</div>
                                                            <div class="side bottom">5</div>
                                                        </div>
                                                    </div>
                                                    <audio id="diceAudio" type="audio/mpeg" src="@routes.Assets.versioned("audio/dice-shaking.mp3")">
                                                    </audio>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if(controller.getStatusID() == choosefig) {
                            <script src='@routes.Assets.versioned("javascripts/inputNum.js")' type="text/javascript"></script>
                            <div class="row m-1">
                                <div class="col btn-group justify-content-center" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary input-normal-button" onclick="selectFig(1)">
                                        1</button>
                                    <button type="button" class="btn btn-secondary input-normal-button" onclick="selectFig(2)">
                                        2</button>
                                    <button type="button" class="btn btn-secondary input-normal-button" onclick="selectFig(3)">
                                        3</button>
                                    <button type="button" class="btn btn-secondary input-normal-button" onclick="selectFig(4)">
                                        4</button>
                                    <button type="button" class="btn btn-secondary input-normal-button" onclick="selectFig(5)">
                                        5</button>
                                </div>
                            </div>
                        }
                        @if(controller.getStatusID() == moving) {
                            <script src='@routes.Assets.versioned("javascripts/inputWASD.js")' type="text/javascript"></script>
                            <div class="row m-1">
                                <div class="col">
                                    <button type="button" class="btn btn-secondary input-normal-button" onclick="figMove('w')">
                                        &#9650</button>
                                </div>
                            </div>
                            <div class="row m-1">
                                <div class="col btn-group justify-content-center" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-secondary input-normal-button" onclick="figMove('a')">
                                        &#9668</button>
                                    <button type="button" class="btn btn-secondary input-normal-button" onclick="figMove('s')">
                                        &#9660</button>
                                    <button type="button" class="btn btn-secondary input-normal-button" onclick="figMove('d')">
                                        &#9658</button>
                                </div>
                            </div>

                            <div class="row m-1">
                                <div class="col">
                                    <button type="button" class="btn btn-warning input-warning-button" onclick="skipMove()">
                                        Skip</button>
                                </div>
                            </div>
                        }
                        @if(controller.getStatusID() == welcome
                                || controller.getStatusID() == ready1
                                || controller.getStatusID() == idle) {
                            <div class="row m-1">
                                <div class="col text-center">
                                    <input type="text" class="form-control text-center" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" id="name">
                                    <button type="button" class="btn btn-success input-normal-button" onclick="addPlayer()">
                                        Add Player</button>
                                </div>
                            </div>
                            <div class="row m-1">
                                <div class="col text-center">
                                    <div id="alertPlaceholder"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="container p-0 m-1" id="gamepanel">
                @for(i <- 0 until controller.gameController.gameboard.getStandardXYsize._1) {
                    <div class="row justify-content-center" id="row@i">
                    @for(j <- 0 until controller.gameController.gameboard.getStandardXYsize._2) {
                        <div class="col p-0 m-0" id="col@j">
                            @if(controller.gameController.gameboard.rows(i)(j).equals(invalidcell)) {
                                <img src="@routes.Assets.versioned("/images/game/invalid.png")" class="game-field"/>
                            } else if(controller.gameController.gameboard.rows(i)(j).equals(start1cell)) {
                        <img src="@routes.Assets.versioned("/images/game/start1.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(start2cell) ) {
                        <img src="@routes.Assets.versioned("/images/game/start2.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(start3cell) ) {
                        <img src="@routes.Assets.versioned("/images/game/start3.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(start4cell) ) {
                        <img src="@routes.Assets.versioned("/images/game/start4.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(freecell) ) {
                        <img src="@routes.Assets.versioned("/images/game/free.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(blockedcell) ) {
                        <img src="@routes.Assets.versioned("/images/game/blocked.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(securecell) ) {
                        <img src="@routes.Assets.versioned("/images/game/free.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(goalcell) ) {
                        <img src="@routes.Assets.versioned("/images/game/goal.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell11) ) {
                        <img src="@routes.Assets.versioned("/images/game/player11.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell12) ) {
                        <img src="@routes.Assets.versioned("/images/game/player12.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell13) ) {
                        <img src="@routes.Assets.versioned("/images/game/player13.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell14) ) {
                        <img src="@routes.Assets.versioned("/images/game/player14.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell15) ) {
                        <img src="@routes.Assets.versioned("/images/game/player15.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell21) ) {
                        <img src="@routes.Assets.versioned("/images/game/player21.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell22) ) {
                        <img src="@routes.Assets.versioned("/images/game/player22.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell23) ) {
                        <img src="@routes.Assets.versioned("/images/game/player23.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell24) ) {
                        <img src="@routes.Assets.versioned("/images/game/player24.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell25) ) {
                        <img src="@routes.Assets.versioned("/images/game/player25.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell31) ) {
                        <img src="@routes.Assets.versioned("/images/game/player31.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell32) ) {
                        <img src="@routes.Assets.versioned("/images/game/player32.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell33) ) {
                        <img src="@routes.Assets.versioned("/images/game/player33.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell34) ) {
                        <img src="@routes.Assets.versioned("/images/game/player34.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell35) ) {
                        <img src="@routes.Assets.versioned("/images/game/player35.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell41) ) {
                        <img src="@routes.Assets.versioned("/images/game/player41.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell42) ) {
                        <img src="@routes.Assets.versioned("/images/game/player42.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell43) ) {
                        <img src="@routes.Assets.versioned("/images/game/player43.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell44) ) {
                        <img src="@routes.Assets.versioned("/images/game/player44.png")" class="game-field"/>
                            } else if (controller.gameController.gameboard.rows(i)(j).equals(playercell45) ) {
                        <img src="@routes.Assets.versioned("/images/game/player45.png")" class="game-field"/>
                            }
                        </div>
                    }
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
    <script src='@routes.Assets.versioned("javascripts/malefiz.js")' type="text/javascript"></script>
}