@()

@main("HTWG Malefiz") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">

    <div id="malefiz-game">
        <malefiz-nav selected="home"></malefiz-nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <info-panel></info-panel>
                </div>
                <div class="col-lg-8">
                    <gameboard></gameboard>
                </div>
            </div>
        </div>
    </div>
    <script src='@routes.Assets.versioned("javascripts/malefizVue.js")'></script>
}