@()

@main("HTWG Malefiz") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
    <nav id="malefiznavbar" class="navbar navbar-dark navbar-expand-lg bg-dark">
        <malefiz-nav selected="home"></malefiz-nav>
    </nav>

    <div id="malefiz-game" class="container">
        <div class="row">
            <div class="col-lg-4">
                <info-panel></info-panel>
            </div>
            <div class="col-lg-8">
                <gameboard></gameboard>
            </div>
        </div>
    </div>
    <audio loop id="winAudio" type="audio/mpeg" src="@routes.Assets.versioned("audio/win.mp3")"></audio>
    <audio loop id="testAudio" type="audio/mpeg" src="@routes.Assets.versioned("audio/testmusic1.mp3")" preload="auto"></audio>
    <script src='@routes.Assets.versioned("javascripts/navVue.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/malefizVue.js")'></script>
}