@input_color: white;
@input_hover_color: #fff;
@nav_item_color: rgba(255, 255, 255, 0.85);
@nav_item_hover_color: #fddb3a;
@game_font: sans-serif;
@background_color_information_panel: lightsteelblue;
@background_color_input_panel_group: lightgray;
@background_color_gameboard: #9e7013;
@background_color_critical_hover: red;
@background_color_normal_hover: orange;
@background_color_nav_item: rgba(136, 89, 61, 0.85);
@border_color_game: black;

//responsive gamefield
@gamecell_size: 2vw;
@gamefield_width: calc(@gamecell_size * 19);
@gamefield_heigth: calc(@gamecell_size * 21);

body {
  background: #EDEBED url(../images/malefiz-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

html {
  font-family: @game_font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.information-panel {
  border-style: solid;
  border-color: @border_color_game;
  border-width: 0.2vw;
  border-radius: 0.8vw;
  font-size: 1vw;
  max-width: 20vw;
  padding: 0.22vw 0.22vw 0.22vw 0.22vw;
  top: 30%;
  left: 15%;
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
  align-content: normal;
  position: fixed;
  background-color: @background_color_information_panel;
  background-image: url(../images/wood-pattern.png);

  .info_text {
    top: 50%;
    left: 15%;
  }
}
.input-panel-group {
  position: fixed;
  top: 50%;
  left: 15%;
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
  align-content: normal;
  background-color: @background_color_input_panel_group;
  border-style: solid;
  border-color: @border_color_game;
  border-width: 0.25vw;
  border-radius: 0.8vw;
  padding: 0.3vw 0.3vw 0.3vw 0.3vw;
  align-items: center;
  background-image: url(../images/wood-pattern.png);
  max-height: 17vw;

  .input-critical-panel {
    max-height: 5vw;
    margin-bottom: 0.8vw;
    alignment: center;
    align-items: center;
    text-align: center;
  }

  .input-normal-panel {
    align-content: normal;
    border-style: solid;
    border-color: @border_color_game;
    border-width: 0.25vw;
    padding: 0.3vw 0.3vw 0.3vw 0.3vw;
    max-height: 10vw;
    overflow: auto;
    text-align: center;
    background-image: url(../images/wood-pattern.png);
    background-color: @background_color_gameboard;
  }
}

.gamescreen-panel {
  position: fixed;
  top: 10%;
  left: 50%;
  align-content: normal;
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
  max-width: @gamefield_width;
  max-height: @gamefield_heigth;
  background-color: @background_color_gameboard;
  background-image: url(../images/wood-pattern.png);
  border-style: solid;
  border-color: @border_color_game;
  border-width: 0.25vw;
  border-radius: 2vw;
  .game-field {
    width: @gamecell_size;
    height: @gamecell_size;
  }

}
.row {
  float: left;
 }

.col {
  float: left;
  width: @gamecell_size;
  height: @gamecell_size;
}

.input-critical-panel {
  input {
    color: @input_color;
    border: 0.2vw solid white;
    text-shadow: none;
    font-size: 2vw;
    background: rgba(34, 34, 34, 0.75);
    text-align: center;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: @background_color_critical_hover;
      box-shadow: 0vw 0.6vw 0.8vw rgba(255, 4, 4, 0.4);
      color: @input_hover_color;
      transform: translateY(-2px);
    }
  }
}

.input-normal-panel {
  .input-normal-button {
    color: @input_color;
    border: 0.2vw solid white;
    text-shadow: none;
    font-size: 90%;
    background: rgba(34, 34, 34, 0.75);
    text-align: center;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: @background_color_normal_hover;
      box-shadow: 0px 15px 20px rgba(255, 165, 0, 0.4);
      color: @input_hover_color;
      transform: translateY(-2px);
    }
  }
}

.input-normal-text {
  float: left;
  color: @input_color;
  border: 0.2vw solid white;
  text-shadow: none;
  font-size: 1vw;
  background: rgba(34, 34, 34, 0.75);
  text-align: center;
  width: fit-content;
  padding: 0.18vw;
  margin-bottom: 0.8vw;
  margin-right: 0.4vw;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0px 15px 20px rgba(255, 165, 0, 0.1);
    color: @input_hover_color;
    transform: translateY(-2px);
  }
}

.move-category {
  .move-lower {
    display: flex;
    justify-content: center;
    align-items: center;

    #move-left-button {
      padding: 20px 25px;
    }

    #move-down-button {
      padding: 20px 25px;
    }

    #move-right-button {
      padding: 20px 25px;
    }
  }

  #move-up-button {
    padding: 20px 25px;
  }

  #move-skip-button {
    padding-left: 20px;
    padding-right: 20px;
  }
}
