@input_color: white;
@input_hover_color: #fff;
@nav_item_color: rgba(255, 255, 255, 0.85);
@nav_item_hover_color: #fddb3a;
@game_font: sans-serif;
@background_color_information_panel: lightsteelblue;
@background_color_input_panel_group: lightgray;
@background_color_gameboard: #9e7013;
@background_color_critical_hover: red;
@background_color_normal_hover: orange;
@background_color_nav_item: rgba(136, 89, 61, 0.85);
@border_color_game: black;

//responsive gamefield
@gamecell_size: 100%;
@gamecell_maximum: 30px;

body {
  background: #EDEBED url(../images/malefiz-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
html {
  font-family: @game_font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.information-panel {
  border-style: solid;
  border-color: @border_color_game;
  border-width: 5px;
  border-radius: 20px;
  padding: 7px 7px 7px 7px;
  top: 30%;
  left: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-content: normal;
  position: fixed;
  background-color: @background_color_information_panel;
  background-image: url(../images/wood-pattern.png);
  .info_text {
    top: 50%;
    left: 15%;
  }
}
.input-panel-group {
  position: fixed;
  top: 50%;
  left: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-content: normal;
  background-color: @background_color_input_panel_group;
  border-style: solid;
  border-color: @border_color_game;
  border-width: 5px;
  border-radius: 20px;
  padding: 7px 7px 7px 7px;
  align-items: center;
  background-image: url(../images/wood-pattern.png);
  .input-critical-panel {
    margin-bottom: 20px;
    alignment: center;
    align-items: center;
    text-align: center;
  }
  .input-normal-panel {
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: normal;
    border-style: solid;
    border-color: @border_color_game;
    border-width: 5px;
    padding: 7px 7px 7px 7px;
    overflow: auto;
    text-align: center;
    background-image: url(../images/wood-pattern.png);
    background-color: @background_color_gameboard;
  }
}
.gamescreen-panel {
  position: fixed;
  top: 10%;
  left: 50%;
  align-content: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: @background_color_gameboard;
  background-image: url(../images/wood-pattern.png);
  border-style: solid;
  border-color: @border_color_game;
  border-width: 5px;
  border-radius: 50px;
  #game-field {
    width: @gamecell_size;
    height: @gamecell_size;
    max-height: @gamecell_maximum;
    max-width: @gamecell_maximum;
  }
}
.input-critical-panel {
  input {
    color: @input_color;
    border: 3px solid white;
    text-shadow: none;
    font-size: 15px;
    background: rgba(34, 34, 34, 0.75);
    text-align: center;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: @background_color_critical_hover;
      box-shadow: 0px 15px 20px rgba(255, 4, 4, 0.4);
      color: @input_hover_color;
      transform: translateY(-2px);
    }
  }
}
.input-normal-panel {
  .input-normal-button {
    color: @input_color;
    border: 3px solid white;
    text-shadow: none;
    font-size: 15px;
    background: rgba(34, 34, 34, 0.75);
    text-align: center;
    width: fit-content;
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: @background_color_normal_hover;
      box-shadow: 0px 15px 20px rgba(255, 165, 0, 0.4);
      color: @input_hover_color;
      transform: translateY(-2px);
    }
  }
}
.input-normal-text {
  float: left;
  color: @input_color;
  border: 3px solid white;
  text-shadow: none;
  font-size: 15px;
  background: rgba(34, 34, 34, 0.75);
  text-align: center;
  width: fit-content;
  padding: 4px;
  margin-bottom: 20px;
  margin-right: 10px;
  transition: all 0.3s ease 0s;
}
.navMenu {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  a {
    min-height: 20px;
    min-width: 0px;
    box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: @nav_item_color;
    font-size: 1.2em;
    font-weight: 500;
    display: inline-block;
    width: 120px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: @background_color_nav_item;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    outline: none;
    padding: 7px 7px;
    background-color: @background_color_gameboard;
    background-image: url(../images/wood-pattern.png);
    &:hover {
      color: @nav_item_hover_color;
    }
    &:nth-child(1) {
      &:hover {
        &~.dot {
          -webkit-transform: translateX(67px);
          transform: translateX(67px);
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          opacity: 1;
        }
      }
    }
    &:nth-child(2) {
      &:hover {
        &~.dot {
          -webkit-transform: translateX(204px);
          transform: translateX(204px);
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          opacity: 1;
        }
      }
    }
    &:nth-child(3) {
      &:hover {
        &~.dot {
          -webkit-transform: translateX(342px);
          transform: translateX(342px);
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          opacity: 1;
        }
      }
    }
    &:nth-child(4) {
      &:hover {
        &~.dot {
          -webkit-transform: translateX(480px);
          transform: translateX(480px);
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          opacity: 1;
        }
      }
    }
    &:nth-child(5) {
      &:hover {
        &~.dot {
          -webkit-transform: translateX(617px);
          transform: translateX(617px);
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          opacity: 1;
        }
      }
    }
  }
  .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(67px);
    transform: translateX(67px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
.move-category {
  .move-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    #move-left-button {
      padding: 20px 25px;
    }
    #move-down-button {
      padding: 20px 25px;
    }
    #move-right-button {
      padding: 20px 25px;
    }
  }
  #move-up-button {
    padding: 20px 25px;
  }
  #move-skip-button {
    padding-left: 20px;
    padding-right: 20px;
  }
}
