<footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Our social media:</span>
        </div>
            <!-- Left -->

            <!-- Right -->
        <div>
            <a href="https://github.com/sehirsig/malefiz-WA-PlayServer" class="me-4 text-reset">
                <i class="bi-github"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="bi-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="bi-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="bi-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="bi-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="bi-facebook"></i>
            </a>
        </div>
            <!-- Right -->
    </section>
        <!-- Section: Social media -->

        <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <a> © 2022 Copyright: @@sehirsig & @@jojoGraff on GitHub</a>
    </div>
        <!-- Copyright -->
</footer>